* {margin: 0; padding: 0; box-sizing: border-box;}
header {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url('EduAtul BG.jpg');
    background-size: cover;
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2em;
    letter-spacing: 2px ;
    color: #ff7200;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    
}
.menu a:hover {color: #ff7200;}


.btn{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #ff7200;
    border-radius: 8px;
}
.srch { padding: 10px 20px;
    font-size: 15px;
    background-color: white;
    border-radius: 8px;
    border-color: #ff7200;
}
.srch::placeholder {
    color: black;
    opacity: 60%;
}

    
.content{
    width: 1200px;
    height: auto;
    margin:auto;
    color: white;
    position: relative;
}

.content p{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    
}
.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cn:hover {
    background-color: white;
}

.content span {
    color: #ff7200;
    font-size: 60px;
}


.form {
    width: 285px;
    height: 405px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -50px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
   
}

.form h2{
    width: 230px;
    font-family: sans-serif;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    text-align: center;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}
.btnn:hover{
    background: white;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
}

.form .link {
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}

.liw {
    margin-top: -15px;
    text-align: center;
}

.logos {
    width: 300px;
}

.logos img{
    margin-top: -30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right:20px;
    transition: .5s ease;
}
.logos img:hover {
    box-shadow: 
    1px 1px #373737,
    2px 2px #373737,
    3px 3px #373737,
    4px 4px #373737,
    5px 5px #373737,
    6px 6px #373737;
    -webkit-transform: translateX(-3px);
    transition: .5s ease;
}